
/*this is my group list*/
.my-group-list{
	padding-left: 0px;
}
.my-group-list li{
	list-style: none;
	padding: 5px 5px;
}

/*this is my table*/

.my-table tr td{
	padding: 5px 5px;
}

/*this is my input*/
.my-input{
	
    width: 77%;
    height: 37px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*this is my the size of icon*/
.gi-2x{font-size: 0.8em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

/*this is my size of dropdown*/
#my-size-dropdown{
	width: 500px;
}

